.slick-slider
	position: relative
	display: block
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	-ms-touch-action: pan-y
	touch-action: pan-y
	-webkit-tap-highlight-color: transparent
.slick-list
	position: relative
	overflow: hidden
	display: block
	margin: 0
	padding: 0
	&:focus
		outline: none
	.slick-loading &
		background: white slick-image-url("ajax-loader.gif") center center no-repeat
	&.dragging
		cursor: pointer
		cursor: hand

.slick-slider .slick-list,
.slick-track,
.slick-slide, 
.slick-slide img
	-webkit-transform: translate3d(0, 0, 0)
	-moz-transform: translate3d(0, 0, 0)
	-ms-transform: translate3d(0, 0, 0)
	-o-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)

.slick-track
	position: relative
	left: 10px
	top: 0
	display: block
	zoom: 1
	&:before,
	&:after
		content: ""
		display: table
	&:after
		clear: both
	.slick-loading &
		visibility: hidden

.slick-slide
	float: left
	height: 100%
	min-height: 1px
	img
		display: block
		max-width: 100%
	&.slick-loading img
		display: none
	display: none
	&.dragging img
		pointer-events: none
	.slick-initialized &
		display: block
	.slick-loading &
		visibility: hidden
	.slick-vertical &
		display: block
		height: auto
		border: 1px solid transparent

// .slick-prev,
// .slick-next
// 	position: absolute
// 	top: 50%
// 	margin-top: -14px
// 	+hide-text
// 	height: 50px
// 	background: none
// 	&:focus
// 		outline: none
// 	&.slick-disabled
// 		opacity: 0.2
// 	&:before
// 		height: 50px
// 		line-height: 50px
.slick-prev
	position: absolute
	left: 0
	display: block
	top: 50%
	width: 60px 
	height: 32px
	margin-top: -16px
	+transition(left .2s)
	background-color: transparent
	+hidetext
	+r(900)
		margin-top: 0
	+r(615)
		display: none
	&:hover
		left: -10px
	&:active
		left: -8px 
	&:before
		content: "" 
		position: absolute
		height: 8px
		border-radius: 4px
		width: 25px
		background: $ipopo 
		z-index: 2
		left: 0
		bottom: 6px
		+rotate(45)
	&:after   
		content: ""
		position: absolute
		height: 8px
		border-radius: 4px
		width: 25px
		background: $orangead
		z-index: 1
		left: 0
		top: 5px
		+rotate(-45)
.slick-next
	position: absolute
	right: 0px
	display: block
	top: 50%
	width: 60px
	height: 32px
	margin-top: -16px
	+transition(right .2s)
	background-color: transparent
	+hidetext
	+r(900)
		margin-top: 0
	+r(615)
		display: none
	&:hover
		right: -10px 
	&:active
		right: -8px 
	&:before
		content: "" 
		position: absolute
		height: 8px
		border-radius: 4px
		width: 25px
		background: $orangead
		z-index: 2			
		bottom: 6px
		right: 0 
		+rotate(-45)
	&:after   
		content: ""
		position: absolute
		height: 8px
		right: 0
		border-radius: 4px
		width: 25px
		background: $ipopo 
		z-index: 1
		top: 5px			
		+rotate(45)
		
.slick-dots
	text-align: center
	position: absolute
	margin: 0
	bottom: -22px
	left: 0
	right: 0
	li
		position: relative
		display: inline-block
		padding: 0 6px 
		&.slick-active
			button
				background-color: $ipopo 
		&:before
			display: none 
				 
	button
		display: block
		width: 13px
		height: 13px
		background: #fff
		cursor: pointer
		+hide-text
		border-radius: 50% 
		&:hover
			box-shadow: none
	